.form-input{
    width: 100%;
}

.form-input label{
    margin-top: 5px;
    padding: 5px;
    left: 2px;
    top: 5px;
    bottom: 5px;
}

.form-input input{
    
    border: 1px solid rgba(180, 183, 189, 1);
    height: 45px;
    width: 100%;
    padding: 7px;
    border-radius: 5px;
}