.ACTIVE{
    border-radius: 30px;
    background: rgba(211, 244, 190, 1);
    width: 100%;
    height: 100%;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.INACTIVE{
    border-radius: 30px;
    background: rgba(255, 191, 191, 1);
    width: 100%;
    height: 100%;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.PROBATION{
    border-radius: 30px;
    background: rgba(245, 236, 184, 1);
    padding: 5px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

}
